.single-main {
  display: block;
  background-repeat: no-repeat;
  .l-single-container {
    width: 700px;
    margin: 0 auto;
    background-color:#fff;
  }
  .form-group {
    margin: 20px 0 0;
    .form-group label {
      font-weight: 600;
      display: inline-block;
      position:float;
    }
    &__first {
      margin: 0;
      .signup-card-list {
        display: flex;
        margin: 8px 0px 0;
        font-size: 0;
        list-style: none;
        li{
          margin-right: 8px;
        }
      }
    }
  }
  .select-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .signup-form-expire .select-wrap.half {
    display: inline-block;
    width: calc(50% - 2px);
  }
    .signup-form-expire .select-wrap select {
      display: inline-block;
      width: calc(100% - 38px);
  }
  .form-group__last.text-right{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    .link_decoration{
      color: #0099E8;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }
    .rightIcon{
      color: #0099E8;
    }
  }
}