.app-banner{
  background-image: url(background-room.png);
  background-position: center;
  background-size: cover;
  border-style: solid;
  border-width: 0;
  margin: 0 auto;
  &__pc {
    height: 260px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    position: relative;
    width: 750px;
    list-style: none;
    &__inner {
      padding: 0;
      h2 {
        font-size: 24px;
        line-height: 1.2;
        margin: 45px 0 3px 0;
        font-weight: 600;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      p {
        padding: 10px 0;
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon.clearfix{
        width: 420px;
        text-align: left;
        line-height: 65px;
        display: inline-block;
        display: flex;
        overflow: hidden;
        .merucari {
          margin: 0;
          img {
            margin: 0;
            width: 67px;
          }
        }
        .icon {
          margin: 0;
          img {
            margin: 12px 0 0 17px;
            padding: 0;
          }
        }
        ul {
          list-style: none;
          display: flex;
          margin: 20px;
        }
      }
      .figure {
        img{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 300px;
          height: 100%;
        }
      }
    }
  }
}
