%main.single-main
  .l-single-container
    %h2.l-chapter-head.registration
      会員登録完了
    .l-single-inner.registration-form
      .l-single-content
        .form-group
        %p ありがとうございます。
        %p 会員登録完了しました。
        = button_to 'メルカリをはじめる', root_path, method: :get
