.wrapper-all
  .header
    = render "items/mercari_header"
  .l-container
    = render 'mypage_sidebar'
    .l-content
      %section.mypage-tab-container
        %h2.mypage-tab-head
          出品した商品
        %ul.mypage-tabs 
          %li.mypage-info
            出品中
          %li.mypage-info
            取引中
          %li.mypage-info
            売却済み
        .tab-content
          %ul.mypage-item-tab
            %li.mypage-doing
              - @items.each do |item|
                -if item.seller_id == current_user.id
                  .tab--content
                    %ul.list--item--li
                    =link_to item_path(item), class: "atode" do
                      %li.list--item--found
                        .list--item--top

                        .list--item--body
                          .list--item--text
                            = item.name
                          %time.list--item--body__time
                            %i.listicon1.fa.fa-heart
                            %span 1
                            %i.listicon1.fa.fa-comment
                            %span 0
                            
  .footer
    = render 'items/mercari_footer'