
%logout_header
  = render 'items/mercari_header'
  .sub_header
    %ul.link_others
      %li.link_top
        - breadcrumb :logout
        = render "layouts/breadcrumbs"
%logout_middle
  .mypage_frame
    =render 'mypage_sidebar'
    .logout_form
      .logout_inner
        .logout_content
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout_btn"
    
  
  =render 'items/sell-btn_icon'

%logout_footer
  = render 'items/mercari_footer'