!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title HTMLメルカリコンテンツ
    %link{:href => "contents.css", :rel => "stylesheet"}/
  %body
    .popu-bar
      .popu-box
        %h1.category 人気のカテゴリー
        %ul2
          %li2
            %a.cta-btn{:href => "#"} レディース
          %li2
            %a.cta-btn{:href => "#"} メンズ
          %li2
            %a.cta-btn{:href => "#"} 家電・スマホ・カメラ
          %li2
            %a.cta-btn{:href => "#"} おもちゃ・ホビー・グッズ
    .popu-contents
      .sell-box
        %a.sell-btn{:href => "#"}
        .sell 出品
      .cat-box
        .cat-bar
          %h2.cat-new-item レディース新着アイテム
          %a.more-btn{:href => "#"} もっと見る ＞
        %ul.items-box
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
          %li.item-box
            %p.img
              / <img src="image.jpg" alt="no image">
              %a.price ¥10,000
            .title-box
              %p.title 商品タイトル商品タイトル商品タイトル商品タイトル
    /
      <div class="popu2">
      <h3>メンズ新着アイテム</h3>
      <p>もっと見る ></p>
      </div>
      <div class="popu3">
      <h4>家電・スマホ・カメラ新着アイテム</h4>
      <p>もっと見る ></p>
      </div>
      <div class="popu4">
      <h5>おもちゃ・ホビー・グッズ</h5>
      <p>もっと見る ></p>
      </div>
      </div>
      <div class="brands-ber">
      <h1>人気のブランド</h1>
      <ul>
      <li>シャネル</li>
      <li>ルイヴィトン</li>
      <li>シュプリーム</li>
      <li>ナイキ</li>
      </ul>
      </div>
      <div class="brands-contents">
      <div class="brand1">
      <h2>シャネル新着アイテム</h2>
      <p>もっと見る ></p>
      </div>
      <div class="brand2">
      <h2>ルイヴィトン新着アイテム</h2>
      <p>もっと見る ></p>
      </div>
      <div class="brand3">
      <h2>シュプリーム新着アイテム</h2>
      <p>もっと見る ></p>
      </div>
      <div class="brand4">
      <h2>ナイキ</h2>
      <p>もっと見る ></p>
      </div>
      </div>
