-# 【マークアップ】ユーザー本人確認ページが未実装のため実装完了後に描きコメントアウトを削除

-# .sub_header
-#   %ul.link_others
-#     %li.link_top
-#       =link_to "https://www.mercari.com/jp/" do
-#         メルカリ
-#     .right_arrow
-#       = icon('fas fa-chevron-right', class: 'arrow')
-#     %li.link_mypage
-#       =link_to "https://www.mercari.com/jp/mypage/" do
-#         マイページ
-#     .right_arrow
-#       = icon('fas fa-chevron-right', class: 'arrow')
-#     %li.logout_page ログアウト
.sub_header
  %ul.link_others
    %li.link_top
      - breadcrumb :introduction
      = render "layouts/breadcrumbs"