.wrapper
  .items_header
    =link_to "https://www.mercari.com/jp/" do
      = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "mercari", class: 'header_icon'
  .items_container
    .condition_format
      %h2.items_condition 
        商品はすでに売り切れています
      .return_top
        .single_text
          =link_to "https://item.mercari.com/jp/m70068440240/" do
            %p.text 商品画面へ戻る
  .items_footer
    .navi
      %ul.caution
        %li.privacy
          =link_to "https://www.mercari.com/jp/privacy/"do
            プライバシーポリシー
        %li.rule
          =link_to "https://www.mercari.com/jp/tos/" do
            メルカリ利用規約
        %li.trade
          =link_to "https://www.mercari.com/jp/tokutei/" do
            特定商取引に関する表記
    =link_to "https://www.mercari.com/jp/" do     
      = image_tag "logo_gray.svg", size: "80x65", class: 'lower-icon' 
      %p.trademark © Mercari, Inc.