.header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0,0.18) 0 2px 4px;
  position: relative;
  z-index: 3;
}
  .top-menu {
    width: 1050px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__upper {
      display: flex;
      justify-content: space-between;
      .right-side {
        width: 100%;
        height: 40px;
        position: relative;
        margin-left: 40px;
        .search-input {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          background: #F5F5F5;
          padding-left: 15px;
          border-style: groove;
          box-sizing: border-box;
          &__icon {
            position:absolute;
            top: 13px;
            right: 15px;
          }
        }
      }
    }
    &__under {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      &__search {
        display: flex;
        &__category {
          cursor: pointer;
          height: 44px;
          position: relative;
          z-index: 3;
          padding-right: 10px;
        }
          .category-search {
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            white-space: nowrap;
          }
            .category-link {
              max-width: 100%;
              max-height: 100%;
              height: 12px;
              margin-left: 4px;
              color: rgb(234, 53, 45);
            }
        &__brand {
          cursor: pointer;
          height: 44px;
          position: relative;
          z-index: 3;
          padding: 0 10px;
        }
          .brand-search {
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            white-space: nowrap;
          }
            .brand-link {
              max-width: 100%;
              max-height: 100%;
              height: 12px;
              margin-left: 4px;
              color: rgb(234, 53, 45);
            }
      }
      &__user-info {
        display: flex;
        &__menu {
          margin-left: 24px;
          font-size: 14px;
          &__link {
            display: flex;
            text-decoration: none;
            width: 100%;
            padding: 9px 0;
            &:hover{
              color: #0099E8;
              .top-menu__under__user-info__menu__link__icon {
                color: #0099E8;
              }
            }
            &__icon {
              color: #cccccc;
              font-size: 18px;
              margin-right: 10px;
            }
          }
          .registration-btn {
            background-color: rgb(234, 53, 45);
            color: rgb(255, 255, 255);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(234, 53, 45);
            border-image: initial;
            border-radius: 4px;
            padding: 8px 10px;
          }
        }
        .user-sessions {
          text-align: center;
          margin-left: 11px;
          .session-btn {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 149, 238);
            display: block;
            font-size: 14px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(0,149,238);
            border-image: initial;
            border-radius: 4px;
            padding: 8px 10px;
            transition: all 0.3s ease-out 0s;
          }
        }
      }
    }
  }
  .contents {
    width: 100%;
    margin: 0 auto;
  }
    .main-contents {
      position: relative;
    }
      .slider {
        margin: 0 auto;
      }
        .slide-image {
          position: relative;
        }

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.prev-arrow {
  left: 50px;
}

.next-arrow {
  right: 50px;
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}


