
body {
  background-color: #f5f5f5;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: Arial;
  width: 100vw;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 8px 0;
  margin: 0;
}

.popu-bar {
  background-color: rgb(255, 255, 255);
  height: 170px;
  width: 100vw;
}

.popu-box {
  background-color: rgb(255, 255, 255);;
  height: 90px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
  

}

.category {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

  .category-cat-btn {
    margin: 8px auto 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 13px;
  }
    .cat-btn {
      float: left;
      margin: 0 10px;
    }

.cat-btn {
  display: inline-block;
  text-align: center;
  color: #333;
  text-decoration: none;
  background-color: rgb(239, 239, 239);
  border-radius: 40px;
  padding: 4px 17px;
}

.popu-contents {
  background-color: rgb(245, 245, 245);
  padding-bottom: 60px;
}

.sell-box {
  height: 160px;
  width: 160px;
  position: fixed;
  right: 2%;
  bottom: 3%;
  z-index: 4;
}

.sell-btn {
  height: 160px;
  width: 160px;
  background-color: rgb(234, 53, 45);
  border-radius: 51%;
  position: fixed;
  right: 2%;
  bottom: 3%;
  z-index: 5;
}
  
.sell {
  height: 30px;
  width: 34%;
  color: white;
  font-size: 23px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 20px;
  /* text-align: center; */
}

.icon {
  color: white;
  font-size: 60px;
  position: relative;
  left: 48px;
  top: 10px;
}

.cat-box {
  background-color: rgb(245, 245, 245);
  width: 1020px;
  margin: 0 auto;
}

.cat-bar {
  background-color: rgb(245, 245, 245);
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cat-new-item {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  font-weight: 600;
}

.more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: rgb(0, 149, 238);

}

.items-box {
  background-color: rgb(245, 245, 245);
  width: 1020px;
  position: relative;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.item-box {
  background-color: white;
  height: 240px;
  width: 180px;
  margin: 10px 20px 20px 0;
  box-shadow: 0 0 5px gray;
  float: left;
}
.item-box-inbox {
  height: 240px;
  width: 180px;
  background-color: red;
  position: relative;
  &__soldout{
    &::before {
      content: "";
      top: 0;
      left: 0;
      border-bottom: 8em solid transparent;
      border-left: 8em solid #ea352d; /* ラベルの色はここで変更 */
      position: absolute;
      z-index: 100;
    }
    &::after {
      content: "Sold";
      display: block;
      top: 18px;
      transform: rotate(-45deg);
      color: #fff; /* 文字色はここで変更 */
      left: 7px;
      position: absolute;
      z-index: 101;
      font-size: 28px;
    }
  }
}

.img {
  background-color: black;
  height: 180px;
  width: 180px;
  display: flex;
  position: relative;
}

.title-box {
  width: 180px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

.title {
  background-color: rgb(255, 255, 255);
  margin: 0 10px;
  padding-top: 5px;
  overflow: hidden;
  font-size: 14px;
  position: absolute;
  font-weight: 400;
  height: 2.5em;
}

.price {
  background-color: rgba(0,0,0,.4);
  height: 20px;
  width: 80px;
  position: absolute;
  left: 0;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  color: white;
  text-align: center;
  z-index: 5;
  bottom: 30%;
  opacity: 0.8;
}

.item-box:hover {
  box-shadow: 0 0 3px blue;
}

a {
  text-decoration: none;
}

