.exhibition{
  height: 100%;
  background-color: rgb(245, 245, 245);
  &__header {
    height: 130px;
    line-height: 130px;
    text-align: center;
  }
  &__main {
    background-color: rgb(245, 245, 245);
    &__form {
      width: 700px;
      margin: auto;
      background-color: rgb(255, 255, 255);
      &__message {
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: rgb(230, 230, 230);
      }
    }
  }
  .exhibition-form {
    &__image-box{
      width: 620px;
      padding: 40px;
      border-bottom-style: solid;
      border-width: 1px;
      border-color: rgb(230, 230, 230);
      &__upper {
        display: flex;
        font-size: 16px;
        &__message {
          font-weight: bold;
        }
        &__require {
          background-color: #ea352d;
          border-radius: 2px;
          color: white;
          vertical-align: top;
          font-size: 12px;
          margin: 0 0 0 10px;
          height: 20px;
          width: 30px;
          text-align: center;
          font-weight: bold;
        }
      }
      &__lower {
        margin: 8px 0 0;
        font-size: 14px;
      }
      &__drop-box {
        
      }
    }
    &__name {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: rgb(230, 230, 230);
      padding: 40px;
      &__get {

        &__upper {
          display: flex;
          font-weight: bold;
          margin: 0;
          font-size: 15px;
          &__require {
            background-color: #ea352d;
            border-radius: 2px;
            color: white;
            vertical-align: top;
            font-size: 12px;
            margin: 0 0 0 10px;
            height: 20px;
            width: 30px;
            text-align: center;
            font-weight: bold;
          }
        }
        &__lower {
          margin-top: 5px;
          .item_name {
            width: 600px;
            height: 30px;
            font-size: 16px;
            padding: 10px;
          }
        }
      }
      &__description {
        margin: 40px 0 0;
        &__upper {
          display: flex;
          font-weight: bold;
          margin: 0;
          font-size: 15px;
          &__require {
            background-color: #ea352d;
            border-radius: 2px;
            color: white;
            vertical-align: top;
            font-size: 12px;
            margin: 0 0 0 10px;
            height: 20px;
            width: 30px;
            text-align: center;
            font-weight: bold;
          }
        }
        &__lower {
          margin-top: 5px;
          .item_description {
            width: 600px;
            height: 120px;
            font-size: 16px;
            padding: 10px;
            border: 1px solid #ccc;

          }
        }
      }
    }
    &__detail {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: rgb(230, 230, 230);
      padding: 40px;
      display: flex;
      font-weight: bold;
      &__message {
        color: #888;
        font-size: 15px;
      }
      .listing-form__box {
        padding-left: 145px;
        width: 400px;
        
          .category__upper{
            display: flex;
            font-weight: bold;
            margin: 0;
            font-size: 15px;
          }
            .listing-default--require {
              background-color: #ea352d;
              border-radius: 2px;
              color: white;
              vertical-align: top;
              font-size: 12px;
              margin: 0 0 0 10px;
              height: 20px;
              width: 30px;
              text-align: center;
              font-weight: bold;
            }
            .listing-select-wrapper__added {
              margin-top: 8px;
            }
            .listing-select-wrapper__box {
              position: relative;
            }
              .listing-select-wrapper__box--arrow-down {
                position: absolute;
                right: 20px;
                top: 16px;
                font-size: 20px;
                color: rgb(87, 87, 87);
              }
              .listing-select-wrapper__box--select {
                height: 50px;
                width: 400px;
                -webkit-appearance: none;
                padding: 0 10px;
                color: rgb(105, 105, 105);
              }

        .exhibition-form__detail__condition {
          margin: 40px 0 0;
          &__upper {
            display: flex;
            margin: 0;
            font-size: 15px;
            &__require {
              background-color: #ea352d;
              border-radius: 2px;
              color: white;
              vertical-align: top;
              font-size: 12px;
              margin: 0 0 0 10px;
              height: 20px;
              width: 30px;
              text-align: center;
              font-weight: bold;
            }
          }
          &__lower {
            position: relative;
            &__box {
              height: 50px;
              width: 400px;
              -webkit-appearance: none;
              padding: 0 10px;
              color: rgb(105, 105, 105);
            }
              .condition__box--arrow-down {
                position: absolute;
                right: 20px;
                top: 16px;
                font-size: 20px;
                color: rgb(87, 87, 87);
              }
          }
        }
      }
    }
    &__deli {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: rgb(230, 230, 230);
      padding: 40px;
      display: flex;
      font-weight: bold;
      &__message {
        color: #888;
        font-size: 15px;
      }
      &__box {
        padding-left: 130px;
        width: 400px;
        &__burden {
          &__upper {
            display: flex;
            margin: 0;
            font-size: 15px;
            &__require {
              background-color: #ea352d;
              border-radius: 2px;
              color: white;
              vertical-align: top;
              font-size: 12px;
              margin: 0 0 0 10px;
              height: 20px;
              width: 30px;
              text-align: center;
              font-weight: bold;
            }
          }
          &__lower {
            position: relative;
            &__box {
              height: 50px;
              width: 400px;
              -webkit-appearance: none;
              padding: 0 10px;
              color: rgb(105, 105, 105);
            }
              .shipping_method__box--arrow-down {
                position: absolute;
                right: 20px;
                top: 16px;
                font-size: 20px;
                color: rgb(87, 87, 87);
              }
          }
        }
        &__area {
          margin: 40px 0 0;
          &__upper {
            display: flex;
            margin: 0;
            font-size: 15px;
            &__require {
              background-color: #ea352d;
              border-radius: 2px;
              color: white;
              vertical-align: top;
              font-size: 12px;
              margin: 0 0 0 10px;
              height: 20px;
              width: 30px;
              text-align: center;
              font-weight: bold;
            }
          }
          &__lower {
            position: relative;
            &__box {
              height: 50px;
              width: 400px;
              -webkit-appearance: none;
              padding: 0 10px;
              color: rgb(105, 105, 105);
            }
              .shipping_area__box--arrow-down {
                position: absolute;
                right: 20px;
                top: 16px;
                font-size: 20px;
                color: rgb(87, 87, 87);
              }
          }
        }
        &__day {
          margin: 40px 0 0;
          &__upper {
            display: flex;
            margin: 0;
            font-size: 15px;
            &__require {
              background-color: #ea352d;
              border-radius: 2px;
              color: white;
              vertical-align: top;
              font-size: 12px;
              margin: 0 0 0 10px;
              height: 20px;
              width: 30px;
              text-align: center;
              font-weight: bold;
            }
          }
          &__lower {
            position: relative;
            &__box {
              height: 50px;
              width: 400px;
              -webkit-appearance: none;
              padding: 0 10px;
              color: rgb(105, 105, 105);
            }
              .shipping_day__box--arrow-down {
                position: absolute;
                right: 20px;
                top: 16px;
                font-size: 20px;
                color: rgb(87, 87, 87);
              }
          }
        }
      }
    }
    &__price-info {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: rgb(230, 230, 230);
      padding: 40px;
      display: flex;
      font-weight: bold;
      &__message {
        color: #888;
        font-size: 15px;
      }
      &__box {
        padding-left: 160px;
        width: 400px;
        &__price {
          display: flex;
          padding: 0 0 24px;
          border-bottom-style: solid;
          border-width: 1px;
          border-color: rgb(150, 150, 150);
          height: 50px;
          &__left {
            display: flex;
            margin: 0;
            font-size: 15px;
            line-height: 50px;
            &__require {
              align-items: center;
              margin-top: 15px;
              &__text {
              background-color: #ea352d;
              border-radius: 2px;
              color: white;
              vertical-align: top;
              font-size: 12px;
              margin: 0 0 0 10px;
              height: 20px;
              width: 30px;
              text-align: center;
              font-weight: bold;
              line-height: 20px;
            }
          }
        }
          &__right {
            display: flex;
            margin-left: 130px;
            height: 50px;
            &__icon {
              margin-top: 20px;
              margin-right: 10px;
              font-weight: 200;
              font-size: 15px;
            }
            &__form {
             height: 50px;
             text-align: right;
             padding-right: 10px;
            }
          }
        }
        &__postage {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;
          border-bottom-style: solid;
          border-width: 1px;
          border-color: rgb(150, 150, 150);
          &__message {
            font-weight: 200;
          }
        }
        &__profit {
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          &__price {
            font-size: 30px;
          }
        }
      }
    }
    &__btn {
      padding: 40px;
      font-size: 13px;
      &__confirm {
        margin: 40px 0 0;
        width: 100%;
        font-size: 14px;
        line-height: 48px;
        color: rgb(255, 255, 255);
        background-color: #ea352d;
        text-align: center;
      }
      &__back {
        width: 45%;
        margin: 24px auto 0;
        background-color: #aaa;
        line-height: 48px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 14px;
      }
    }
  }
  &__footer {
    width: 456px;
    height: 220px;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    font-size: 12px;
    &__nav {
      display: flex;
      justify-content: space-between;
      margin: 0 35px;
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
}