// プロフィール編集部分の設定
.profile_box{
  background-color: #fff;
  width: 700px;
  height: 568px;
  // 編集部分のタイトル（プロフィール）の設定
  .profile_upper{
    width: 700px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
  }
  // 編集部分のタイトル以外の設定
  .profile_bottom{
    height: 362px;
    // 背景画像の設定
    .profile_images{
      width: 700px;
      height: 156px;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdc7gUDxANS8OiJPC6JcOwt5yaogEyYEmrx1F4AfBO8Ke9pgq4);
      // アイコンとニックネーム記入欄の設定
      .profile_char{
        display: flex;
        width: 282px;
        height: 156px;
        margin: 0 auto;
        padding: 72px 16px 24px;
        .input_photo{
          border-radius: 30px;
        }
        .input_text{
          width: 186px;
          height: 28px;
          border-radius: 5px;
          padding: 10px 16px 8px;
          margin-left: 8px;
         }
      }
    }
    // プロフィール記入欄の設定
    .profile_writhing{
      width: 668px;
      height: 282px;
      padding: 40px 16px;
    }
    .input_sentence{
      width: 646px;
      height: 194px;
      margin-left:16px;
      margin-top: 40px;
      border: solid;
      border-color: #ccc;
      border-width: thin;
      padding: 10px;
    }
    // 変更ボタンの設定
    .change_btn{
      width: 668px;
      height: 50px;
      background-color: #EA352D;
      margin: 0 auto;
      text-align: center;
      line-height: 50px;
      color: #fff;
      margin-top: 16px;
    }
  }
}