// ヘッダーの下の部分(以下sub_header)全体の設定
.sub_header{
  width:100vw;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: #fff;
// sub_headerの各リンク先に関する設定
  .link_others{
    display:flex;
    width:1020px;
    margin: 0 auto;
    padding: 16px;
    // topページへのリンクに関する設定
    .link_top{
      padding-right: 5px;
      font-size: 14px;
      font-style: bold;
    }
    // マイページへのリンクに関する設定
    .link_mypage{
      padding-left:5px;
      padding-right: 5px;
      font-size: 14px;
      font-style: bold;
    }
    .link_mypage:hover{
      text-decoration: underline;
      opacity: 0.7;
    }
    // ログアウトに関する設定
    .logout_page{
      padding-left: 5px;
      font-size: 14px;
      font-style: bold;
    }
  }
}
// ログアウトページに関する設定
.mypage_frame{
  width: 1020px;
  height: 1425px;
  display:flex;
  margin: 40px auto;
  padding: 0 16px;
  .logout_form{
    width: 700px;
    height: 179px;
    background-color: white;
    .logout_inner{
      height: 50px;
      width: 320px;
      margin: 0 auto;
      .logout_content{
        position:relative;
        .logout_btn{
          width: 320px;
          height: 50px;
          background-color: #EA352D;
          font-size: 16px;
          position: absolute;
          top: 55px;
          text-align: center;
          line-height: 50px;
          .white {
            color: #fff;
          }

        }
      }
    }
  }
}